<section class="text-gray-400 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col">
        <div class="lg:w-4/6 mx-auto">
          <figure class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class="object-fit h-full w-full" src="/assets/images/carousel1.svg"/>
          </figure>
          <div class="flex flex-col sm:flex-row mt-10">
              <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <figure class="w-20 h-20 rounded-full inline-flex items-center justify-center">
                  <img src="https://media.licdn.com/dms/image/D5603AQECSaJUfg2lLw/profile-displayphoto-shrink_200_200/0/1697645658091?e=1710979200&v=beta&t=eYyKfjMVdnMZkDmewFgDQRyqy5DaYh1kCpHtleeB8io" alt="Rich Clarke" class="rounded-full">
                </figure>
                <!-- TODO SANITY.io data.header -->
                <article class="flex flex-col items-center text-center justify-center">
                  <h1 class="font-medium title-font mt-4 text-yellow-500 text-2xl">
                    Richard Clarke, Founder
                  </h1>
                  <div class="w-12 h-1 bg-gray-500 rounded mt-2 mb-4"></div>
                  <!-- TODO SANITY.io data.body -->
                  <p class="text-base text-gray-400">
                    I noticed people were really struggling in re-entry with basic skills we all take for granted.
                  </p>
                </article>
              </div>
              <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <br class="leading-relaxed text-lg mb-4">
                  Digital and Financial Literacy are things that are not taught in a meaningful way, so I set out to change that. Re-entering society after being incarcerated for a long time is a scary thing. <br>Technology has changed drastically in the last ten years; mobile devices and the internet have become the center of our world and have changed the way we interact with other people and the businesses and services that shape our lives. <br>I want to use this opportunity to help people understand how technology and finance can help them in their re-entry journey. <br>
                </p>
                <a class="text-blue-300 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
          </div>
        </div>
    </div>
</section>