<section>
    <article>
        <figure>
            <img src="/public/assets/images/about1.svg"/>
            <figcaption>Speaking at said event</figcaption>
        </figure>

        <div>
            <h2>About Me</h2>
            <p>My name is Rich Clarke and I noticed people were really struggling in re-entry with basic skills we all take for granted. Digital and Financial Literacy are things that are not taught in a meaningful way, so I set out to change that. </p>
        </div>
    </article>
</section>