<section>
    <article>
        <figure>
            <img src="/assets/images/carousel1.svg"/>
            <figcaption>Speaking at said event</figcaption>
        </figure>

        <div>
            <!-- TODO SANITY.io data.header -->
            <h2>About Me</h2>

            <!-- TODO SANITY.io data.body -->
            <p>My name is Rich Clarke and I noticed people were really struggling in re-entry with basic skills we all take for granted. Digital and Financial Literacy are things that are not taught in a meaningful way, so I set out to change that. </p>
        </div>
    </article>
</section>