<section id="newsletter-signup" class="text-gray-500 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0 ">
            <h1 class="title-font font-medium md:text-left text-center text-3xl text-yellow-500">
                Want To Stay Connected?
            </h1>
            <p class="leading-relaxed mt-4">
                Stay up to date with our latest news, events, and programs. Join our mailing list today.
            </p>
        </div>
        <div class="lg:w-2/6 md:w-1/2 bg-secondary bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <!-- TODO SANITY.io data.heading -->
            <h2 class="text-yellow-500 text-lg font-medium title-font mb-5">
                Subscribe to Our Newsletter 
            </h2>
            <!-- TODO SANITY.io data.body -->
            <form action="/newsletter/confirmation" method="post">
                <div class="relative mb-4">
                    <label for="name" class="leading-7 text-sm text-gray-400">
                        Name
                    </label>
                    <input type="text" id="name" name="name" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-yellow-900 rounded border border-gray-600 focus:border-yellow-500 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="relative mb-4">
                    <label for="email" class="leading-7 text-sm text-gray-400">
                        Email
                    </label>
                    <input type="email" id="email" name="email" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-yellow-900 rounded border border-gray-600 focus:border-yellow-500 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button type="submit" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-300 hover:text-black rounded text-lg">
                    Subscribe
                </button>
                <p class="text-xs mt-3">
                    Disclamiere: We will not share your email address with anyone else.
                </p>
            </form>
        </div>
    </div>
</section>