<section id="newsletter-signup">
    <img src="/assets/images/subscribe.svg" alt="Person celebrating the first letter of their new subscription">
    <div>
        <h3>Subscribe to Our Newsletter </h3>
        <p>Stay up to date with our latest news, events, and programs. Join our mailing list today.</p>

        <form action="/newsletter/confirmation" method="post">
            <label for="email">Email: </label>
            <input type="email" name="email">

            <button type="submit">Subscribe</button>
        </form>
    </div>
</section>