<section class="text-gray-800 bg-secondary body-font">
    <div class="container mx-auto flex px-5 py-48 md:flex-row flex-col items-center">
        <article class="lg:flex-grow md:w-1/2 flex flex-col mb-16 md:mb-0 items-center text-center">
            <!-- TODO SANITY.io data.heading -->
            <h1 class="title-font text-black-500 sm:text-8xl text-3xl mb-4 font-medium">
                RAISE UP
            </h1>
            <!-- TODO SANITY.io data.body -->
            <p class="mb-8 leading-relaxed">
                Empowering communities through accessible and inclusive education.
            </p>
            <!-- TODO: CTA Newsletter Signup Form -->
            <div class="flex justify-center">
                <button onclick="modalSignup.showModal()" class="inline-flex bg-blue-500 text-white border-0 py-2 px-6 focus:outline-none hover:bg-gray-800 hover:text-yellow-500 rounded text-lg">
                    <span>Let's Grow Together</span>
                </button>
                
                <dialog id="modalSignup" class="rounded-xl  backdrop:backdrop-blur-sm">

                    <div class=" bg-secondary bg-opacity-50 rounded-xl p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                        <iframe data-why src="https://docs.google.com/forms/d/e/1FAIpQLSf7pnU253lNJ1OxbrNWMpQZk8WvYIm-WrLXbK8dshajLkcnQw/viewform?embedded=true" width="640" height="951"  >Loading…</iframe>
                    </div>
                </dialog>
            </div>
        </article>
    </div>
</section>