<section>
    <article>
        <!-- TODO SANITY.io data.heading -->
        <h1>RAISE UP</h1>

        <!-- TODO SANITY.io data.body -->
        <p>Empowering communities through accessible and inclusive education. We believe in the power of knowledge to transform lives and build a better future.</p>

        <!-- TODO: CTA Newsletter Signup Form -->
        <a href="#newsletter-signup">Join Our Newsletter</a>
    </article>
    <figure aria-labelledby="figure">
        
        <!-- TODO SANITY.io data.image -->
        <img src="/assets/images/about1.svg" alt="Rich giving instructions surrounding a cellphone based activity">

        <!-- TODO SANITY.io data.image-caption -->
        <figcaption id="figure">Previous Class (Class Code Name/Class Identifier)</figcaption>
    </figure>
</section>

<!-- TODO: STYLE -->
<style>

</style>