<section class="text-gray-600 bg-secondary body-font ">
    <article class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <!-- TODO SANITY.io data.heading -->
        <h1 class="text-yellow-500 sm:text-3xl text-2xl font-medium title-font mb-2 md:w-2/5">Digital and Financial Literacy Training</h1>
        <!-- TODO SANITY.io data.body -->
        <div class="md:w-3/5 md:pl-6">
            <p class="leading-relaxed text-base">
                <blockquote class="border-l-4 ml-2 my-4 px-4 border-yellow-500">
                    <p>Understanding basic personal finance is difficult after spending years earning $0.17 an hour. Checking and savings accounts, interest rates, credit cards, loans, purchases, tracking expenses, budgeting... it can all be very overwhelming.</p>
                    <footer class="mt-2">- Rich Clarke, <cite>Founder</cite></footer>
                </blockquote>
                Raise Up seeks to make this process easier, enabling our the participants to understand these topics from a real-world perspective, while setting them up for success in all areas of their life.
            </p>
            <div class="flex md:mt-4 mt-6 float-right">
                <a class="text-yellow-800 inline-flex items-center mr-4">Learn More
                </a>
            </div>
        </div>
    </article>
</section>