<section>
    <article>
        <h2>Digital Literacy and Financial Literacy Training for Today</h2>
        <p>
            Re-entering society after being incarcerated for a long time is a scary thing. Technology has changed drastically in the last ten years; mobile devices and the internet have become the center of our world and have changed the way we interact with other people and the businesses and services that shape our lives.
            Understanding basic personal finance is difficult after spending years earning $0.17 an hour. Checking and savings accounts, interest rates, credit cards, loans, purchases, tracking expenses, budgeting... it can all be very overwhelming.
            Raise Up seeks to make this process easier, enabling our the participants of our workshops to understand these topics from a real-world perspective, and set them up for success in their personal lives, when pursuing education, and when seeking and finding employment.
        </p>
    </article>
</section>

<!-- TODO: STYLE -->
<style>

</style>