
<section>
  <div>
    <!-- TODO SANITY.io data.heading -->
    <h4>Our Programs</h4>
    <!-- TODO SANITY.io data.sub-heading -->
    <h2>Empowering Through Education</h2>
  </div>

  <!-- TODO SANITY.io data.body -->
  <p>Our programs are designed to be asseccible and inclusive, ensuring that everyone has the opportunity to learn and grow. With programs in Digital and Financial literacy, we are commited to making a difference in our communities.</p>
</section>

<!-- TODO: STYLE -->
<style>

</style>