
<section class="text-gray-400 body-font bg-terciary">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <!-- TODO SANITY.io data.heading -->
      <h2 class="text-xs tracking-widest font-medium title-font mb-1">Our Programs</h2>
      <!-- TODO SANITY.io data.sub-heading -->
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-yellow-500">Empower Through Education</h1>
      <!-- TODO SANITY.io data.body -->
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Our programs are designed to be asseccible and inclusive, ensuring that everyone has the opportunity to learn and grow. With programs in Digital and Financial literacy, we are commited to making a difference in our communities.</p>
    </div>
    <div class="flex flex-col text-center content-center justify-center gap-y-8">
      <div class="flex flex-wrap justify-center">
        <div class="xl:w-1/4 md:w-1/2 text-left sm:w-full px-8 py-6 border-l-2">
          <h2 class="text-lg sm:text-xl text-yellow-600 font-medium title-font mb-2">Digital Literacy</h2>
          <p class="leading-relaxed text-base mb-4">Mission Statement behind the creation.</p>
          <a class="text-yellow-300 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 md:w-1/2 text-right md:text-left sm:w-full px-8 py-6 border-r-2 md:border-l-2">
          <h2 class="text-lg sm:text-xl text-yellow-600 font-medium title-font mb-2">Financial Literacy</h2>
          <p class="leading-relaxed text-base mb-4">Mission Statement behind the creation.</p>
          <a class="text-yellow-300 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <!-- TODO: Routing -->
      <!-- <a href="" class="items-center mx-auto bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-200 rounded text-white hover:text-black mt-4 md:mt-0">Schedule A Consult</a> -->
    </div>
  </div>
</section>