<!-- TODO: Create a Sepreate Page -->
<section>
    <article>

        <!-- TODO SANITY.io data.heading -->
        <h2>Resources</h2>

        <!-- TODO SANITY.io data.body -->
        <p>Here is a link to a markup file on GitHub with a list of wonderful resources for Digital Literacy <br>
        <a href="https://github.com/richclarke0/DigitalLitResources">Click for more curated Resources</a> <br> Please don't judge my GitHub :D I don't have time to code any more.</p>
    </article>
</section>