<section>
    <article>
        <h2>Resources</h2>
        <p>Here is a link to a markup file on GitHub with a list of wonderful resources for Digital Literacy</p>

        <!-- TODO: Create a Sepreate Page -->
        <a href="https://github.com/richclarke0/DigitalLitResources">Click for more curated Resources</a>


        <p>Please don't judge my GitHub :D I don't have time to code any more.</p>
    </article>
</section>