---

---

<section>
    <!-- TODO: TESTIMONIAL CAROUSEL COMPONENT -->
    <article>
        <h1>Testimonials</h1>
        <figure>
            <img src="/assets/images/testimonial1.svg" alt="productive outcome"/>
            <figcaption>Testimonials about the course</figcaption>
        </figure>
    </article>

</section>

<!-- TODO STYLE -->
<style>

</style>