---
import Layout from "../layouts/default.astro"
---
<Layout>
    <div class="not-found">
        <!-- TODO SANITY.io data.heading -->
        <h1>Page not found (404)</h1>

        <!-- TODO SANITY.io data.body -->
        <div>
            <p>Looks like the page you requested doesn&apos;t exist.</p>
            <p><a href="/">&larr; Back to the Homepage</a></p>
        </div>
    </div>

</Layout>

<style>
    /* TODO TAILWIND */
    .not-found {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: url("https://images.unsplash.com/photo-1609743522653-52354461eb27?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: 0;
        height: 60svh;
    }

    .not-found h1 {
        font-size: 3rem;
    }

    .not-found > p {
        font-size: 1.25rem;
    }

</style>