---
import Layout from '../../layouts/page.astro'

export const prerender = false

// ! remove
let message;

if (Astro.request.method === 'POST') {
    try {
        const data = await Astro.request.formData();
        const email = data.get('email');

        // TODO: Save the user to the newsletter service

        // ! remove
        message = `Thanks for subscribing to our newsletter, with the following email address: \n${email}`;
    } catch ( error ) {

        // update error handling with the 
        // error messages from the email service
        console.error('Error submitting newsletter form:', error);
    }
}
---

<Layout>
    <h1>Newsletter Sign Up Comfirmed</h1>
    <div>
        <p>
            {message}
            <a href="/">Thanks for joining</a>
        </p>
    </div> 
</Layout>

<!-- TODO: STYLE -->
<style>

</style>